@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800;900&family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,400;1,500&family=Palanquin+Dark:wght@400;500;600;700&family=Palanquin:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#bg-img {
    background-image: url(../img/fondo1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

#logo_segi {
    color: #1E5ABE;
    font-size: 45px;
    font-weight: 900;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

#navbar {
    padding-left: 5rem;
    padding-right: 5rem;
    position: fixed;
    width: 100%;
}

#navbarNav li a {
    font-size: 20px;
    color: rgb(158, 154, 154);
}

#navbarNav li a:hover {
    color: white;
}

#navbarNav li {
    margin-left: 15px;
    margin-right: 15px;
}

#navbarNav li:hover {
    background-color: #1E5ABE;
    border-radius: 10px;
}

#segi_g {
    font-size: 160px;
    font-weight: 700;
    color: rgba(107, 107, 107, 0.153);
    text-align: center;
    margin-top: -30px;
}

#segi_a {
    color: #4F4F4F;
    font-weight: 600;
    font-size: 40px;
    line-height: 34px;
}

#col_segi_a {
    position: absolute;
    margin-top: 5.4%;
    margin-left: 20%;
    text-align: end;
}

.sub_text_segi {
    margin-top: -1rem !important;
    margin-left: 6rem !important;
    margin-right: 6rem !important;
}

.sub_text_segi p {
    font-size: 20px !important;
    color: #8A8A8A;
}

.container_cards_segi {
    margin-top: 80px !important;
}

.container_cards_segi .card {
    padding: 10%;
    height: 500px;
}